* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background: url('../images/page-background.jpg'),
    linear-gradient(
      90deg,
      rgba(132, 231, 247, 0.9) 0%,
      rgba(244, 56, 236, 0.9) 100%
    );
  background-blend-mode: screen;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.add-new-slider-btn {
  padding: 0 8px;
  width: 40px;
  height: 40px;
  background: white;
  color: #575757;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: background 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(240, 243, 243, 0.9);

    & .add-new-slider-btn__icon {
      transform: none;
      transform: rotate(90deg);
    }
  }

  &:active,
  &:focus {
    outline: none;
    padding: 0 8px;
  }

  &_margin-top {
    margin-top: 20px;
  }

  &__icon {
    transition: transform 0.2s ease-in;
  }
}

.help-image {
  display: block;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  padding: 10px;
}

.remove-slider-button {
  padding: 0;
  background: white;
  position: absolute;
  color: #575757;
  right: 6px;
  top: 6px;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &:hover {
    & .remove-slider-button__icon {
      transform: rotate(90deg);
    }
  }

  &:active,
  &:focus {
    outline: none;
    padding: 0;
  }

  &__icon {
    transition: transform 0.2s ease-in;
    pointer-events: none;
    font-size: 21px;
    user-select: none;
  }
}

.slider-wrapper {
  width: 100%;
  max-width: 500px;
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  &_horizontal {
    flex-wrap: wrap;
  }

  &_vertical {
    flex-wrap: nowrap;
  }
}
