@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/robotoRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/robotoBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}