<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title fsd_slider
  body
    .button-wrapper
      button(class='add-new-slider-button add-new-slider-button_margin-top')
        i(class="material-icons add-new-slider-button__icon") add
    img(src="images/help-image.png", class="help-image", alt="help image")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 