<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title fsd_slider
  body
    .button-wrapper
      button(class='add-new-slider-btn add-new-slider-btn_margin-top')
        i(class="material-icons add-new-slider-btn__icon") add
    img(src="src/images/help-image.png", class="help-image", alt="help image")