//- include ../modules/slider/slider.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title fsd_slider
    body
        .slider-wrapper
        .slider-wrapper
        .slider-wrapper
        //- .slider-wrapper
        //-     +slider()
        //- .slider-wrapper
        //-     +slider()
        //- .slider-wrapper
        //-     +slider()