* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.slider-wrapper {
    padding: 30px;
    width: 100%;
    max-width:  500px;
    margin: 0 auto;
    display: flex;
}

.slider-wrapper_horizontal {
    flex-direction: column;
}

.slider-wrapper_vertical {
    flex-direction: row;
    align-items: center;
    & .slider-panel__checkboxes-and-radio-wrapper {
        justify-content: center;
    }
}

.panel-wrapper {
    width: 100%;
    max-width:  500px;
    margin: 0 auto;
}