* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.slider-wrapper {
    padding: 30px;
    width: 100%;
    max-width:  400px;
    margin: 0 auto;
}

.panel-wrapper {
    padding: 30px;
    width: 100%;
    max-width:  500px;
    margin: 0 auto;
}