* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    // background-image: url('./images/page_background.jpg');
    // background-size: contain;
    background: url('./images/page_background.jpg'), linear-gradient(90deg, rgba(132,231,247,0.9) 0%, rgba(244,56,236,0.9) 100%);
    background-blend-mode: screen;
}

.slider-wrapper {
    background: white;
    border-radius: 8px;
    padding: 50px;
    width: 100%;
    max-width:  500px;
    margin: 20px auto;
    display: flex;
}

.slider-wrapper_horizontal {
    flex-direction: column;
}

.slider-wrapper_vertical {
    flex-direction: row;
    align-items: center;
    & .slider-panel__checkboxes-and-radio-wrapper {
        justify-content: center;
    }
}

.panel-wrapper {
    width: 100%;
    max-width:  500px;
    margin: 0 auto;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-new-slider {
    width: 40px;
    height: 40px;
    background: #e6e5e5;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    &:active, &:focus {
        outline: none;
    }
}